<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-js3221s\sqlexpress.DoAnCoSo.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JS3221S\SQLEXPRESS;integrated security=SSPI;initial catalog=DoAnCoSo" />
        <add name="QuanLyKhoHang.Properties.Settings.DoAnCoSoConnectionString"
            connectionString="Data Source=DESKTOP-JS3221S\SQLEXPRESS;Initial Catalog=DoAnCoSo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_DoAnCoSo_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-JS3221S\SQLEXPRESS;integrated security=SSPI;initial catalog=DoAnCoSo" />
    </connectionStrings>
</configuration>